
<nb-layout>

  <ng-template #deleteDialog let-context let-ref="dialogRef">
    <app-delete-dialog [name]=context.data.name (deleteItemEvent)="deleteItem($event)" [id]=context.data.id [ref]=ref></app-delete-dialog>
  </ng-template>

  <ng-template #updateDialog let-context let-ref="dialogRef">
    <app-update-dialog [item]=context.data (updateItemEvent)="updateItem($event)" [ref]=ref></app-update-dialog>
  </ng-template>

  <ng-template #createDialog let-context let-ref="dialogRef">
    <app-create-dialog (newItemEvent)="addItem($event)" [ref]="ref"></app-create-dialog>
  </ng-template>

  <nb-layout-header [className]="'user-bar'">
    <nb-user name="{{ user.email }}" title="Seller" [className]="'logged-user'" *ngIf="isLoggedIn"></nb-user>
    <div [className]="'logout'" *ngIf="!isLoggedIn">
      <button nbButton ghost status="primary" (click)="login()"><nb-icon icon="arrow-circle-right-outline"></nb-icon>Login</button>
    </div>
    <div [className]="'logout'" *ngIf="isLoggedIn">
      <button nbButton ghost status="danger" (click)="logout()"><nb-icon icon="log-out-outline"></nb-icon></button>
    </div>
  </nb-layout-header>
  <nb-layout-column [className]="'container'">

    <nb-card [className]="'card'" *ngIf="isLoggedIn">
      <button nbButton outline status="success" (click)="open(createDialog)">Create new item</button>
    </nb-card>

    <nb-card status="danger" *ngIf="elements.length === 0">
      <nb-card-header>The warehouse is empty</nb-card-header>
      <nb-card-body>
        Start adding your items!
      </nb-card-body>
    </nb-card>

    <nb-card [className]="'card'" *ngFor="let elem of elements">
      <nb-card-header [className]="'card-header'">
        <p>Listed by <b>{{ elem.owner }}</b></p>
      </nb-card-header>
      <nb-card-body [className]="'item'">
        <nb-user size="large"
                 name="${{ elem.price }} - {{ elem.name }}#{{ elem.id }}"
                 [className]="'item-data'"
                 title="{{ elem.description }}"
                 picture="{{ elem.imageUrl }}">
        </nb-user>
        <nb-button-group multiple [className]="'button-group'" *ngIf="isLoggedIn">
          <button nbButton (click)="open(updateDialog, elem)"><nb-icon icon="edit-2-outline"></nb-icon></button>
          <button nbButton (click)="open(deleteDialog, elem)"><nb-icon icon="trash-2-outline"></nb-icon></button>
        </nb-button-group>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>
</nb-layout>
