<nb-layout>
  <nb-layout-column [className]="'container'">
    <nb-card [className]="'card'">
      <nb-card-header>Register</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Enter your username">
        <input type="password" nbInput fullWidth shape="rectangle" placeholder="Enter your password">
        <button nbButton outline status="success" fullWidth>Register</button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
